<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="rankingFrag">
  <div id="ranking" class="position-fixed bottom-50 end-0 me-3
                           rounded bg-body-secondary w-25 h-25 overflow-auto">
    <h3 class="mt-1">랭킹</h3>
    <div class="fs-6 m-1">1분 마다 초기화</div>
  </div>
  <script>
    /**
     * 랭킹 테이블을 추가한다.
     * @param {object} map
     */
    function addRanking(map) {
      const ranking = document.getElementById('ranking');
      const prevTable = document.getElementById('ranking-table');

      if (prevTable) {
        prevTable.remove();
      }

      const div = document.createElement('div');
      div.id = 'ranking-table';

      for (const k of Object.keys(map)) {
        const element = document.createElement('div');
        element.innerText = `${k}등 ${map[k]}`;
        div.appendChild(element);
      }

      ranking.appendChild(div);
    }
  </script>
</th:block>
</html>
