<!DOCTYPE html>
<html lang="ko"
      class="h-100"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mt-auto"></header>
    <div>
      <h1 id="heading1" class="m-5">Hello</h1>
      <button type="button"
              class="btn btn-outline-secondary btn-lg px-lg-5"
              onclick="postRank()">클릭</button>
    </div>
    <th:block th:replace="~{layouts/ranking :: rankingFrag}"></th:block>
    <footer class="mt-auto"></footer>
  </div>
  <script th:src="@{/js/fetch.js}"></script>
  <script>
    fetchJson('/rest/ranks')
        .then((response) => {
          document.getElementById('heading1').innerText = response['rank'];
          updateRanking(response['map']);
        });

    /**
     * 순위 등록
     */
    function postRank() {
      fetchJson('/rest/ranks', 'post')
          .then((response) => {
            document.getElementById('heading1').innerText = response['rank'];
            updateRanking(response['map']);
          });
    }
  </script>
</th:block>

</html>
