<!DOCTYPE html>
<html lang="ko"
      class="h-100"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mt-auto"></header>
    <div class="align-items-center">
      <h1 id="heading1" class="m-3">안녕하세요</h1>
      <label class="d-none" for="nameInput"></label>
      <input type="text" class="form-control text-center mb-3 mx-auto" id="nameInput" placeholder="이름을 입력하세요." style="width: 40%">
      <button type="button"
              class="btn btn-outline-secondary btn-lg px-lg-5"
              onclick="postRank()">클릭</button>
    </div>
    <th:block th:replace="~{layouts/ranking :: rankingFrag}"></th:block>
    <footer class="mt-auto"></footer>
  </div>
  <script th:src="@{/js/fetch.js}"></script>
  <script>
    getFetchJson('/rest/ranks')
        .then((response) => {
          update(response);
        });

    /**
     * 순위 등록
     */
    function postRank() {
      const name = document.getElementById('nameInput').value;
      postFetchJson('/rest/ranks', JSON.stringify({
        name: name,
      })).then((response) => {
        update(response);
      });
    }

    /**
     * Response 처리
     * @param {object} response
     */
    function update(response) {
      const responseRank = response['rank'];

      if (responseRank && responseRank !== 0) {
        document.getElementById('heading1').innerText = `${responseRank}등 입니다`;
      }

      updateRanking(response['map']);
    }
  </script>
</th:block>

</html>
